:root {
    --blue-dark: #3BA6F5;
    --blue-light: #59f9ff;
    --grey-light: #fafafa;
    --grey-dark: grey;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

svg {
    width: 95vmin;
    height: 95vmin;
    max-height: 100vh;
    max-width: 100vw;
    display: block;
}

.gradient-stop-1 {
    stop-color: var(--blue-dark);
    stop-opacity: 1;

}

.gradient-stop-2 {
    stop-color: var(--blue-light);
    stop-opacity: 1;

}

#border {
    stroke: #eee;
    stroke-width: 1px;
    fill: var(--grey-light);
}

#button {
    stroke: var(--blue-light);
    stroke-width: 0.3em;
    fill: var(--blue-dark);
    animation: pulse-stroke 1s ease-in-out infinite alternate;
}

#button:active {
    cursor: pointer;
    transform-origin: 200px 200px;
    animation: pulse 0.4s ease-in-out infinite alternate;
}

@keyframes pulse {
    100% {
        transform: scale(1.1);
    }
}

@keyframes pulse-stroke {
    100% {
        stroke-width: 0.3em;
        stroke: var(--blue-dark);
        /* fill: var(--blue-light); */
        /* opacity: 80%; */
    }
}

#dataLabels>g>text {
    fill: var(--grey-dark);
    font: 10pt monospace;
}

#valueLabels>g>text {
    fill: var(--grey-dark);
    font: 10pt monospace;
}